
<br/>
<h1> Classement Pilotes </h1>
<br/>

<%# haut de page depuis partial %>
<%= render "shared/hautpdf" %>

<%#= tableau data classement %>

 <% if (@eventId).blank? %>
 <% else %>
  <% eventNum = Event.find(@eventId).numero %>
    
      <table style="margin-left:auto;margin-right:auto">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Pilote</th>
            <th>Points</th>
          </tr>
        </thead>

           <tbody>
        <tr>
          <% @classements.each do | classement | %>
            <td>  <%= classement.position %></td>
            <td> <%= Pilote.find(classement.pilote_id).nom %>  </td>
            <td>  <%= classement.score %>  </td>
           
        </tr>
        <% end %>
      </tbody>
      
  </table>

  <br/>

<%# bas de page depuis partial %>
<%= render "shared/baspdf" %>

<% end %>
