<%= wicked_pdf_image_tag asset_url('/images/if1main.png'), style: "width: 150px;", class: "img-fluid rounded", id:"imgLogoIf1" %> 

<h1> Classement </h1>

   

<% eventId = @eventId %>

<% Event.find(eventId).date %>
<% circuitId = Event.find(eventId).circuit_id %> 


  <% if Circuit.find(circuitId).drapeau.present? %>
    <%= image_tag(Circuit.find(circuitId).drapeau, style: "width: 100px; display: block", class: "img-fluid rounded", id:"imgDrapeau") %> 
  <% end %>


 <table width="600" style="margin-left:auto;margin-right:auto">
    <thead>
      <tr>
        <th>Date</th>
        <th>Pays</th>
        <th>Division</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="val_entete">
            <%= Event.find(eventId).date %>
        </td>
        <td class="val_entete">
          <% circuitId = Event.find(eventId).circuit_id %> 
          <%= Circuit.find(circuitId).pays %>
        </td>
         <td class="val_entete">
          <% divisionId = Event.find(eventId).division_id %> 
          <%= Division.find(divisionId).numero %>
        </td>
      
      </tr>
  </tbody>
</table>


  <hr/> <br/> <br/>

  <%#= tableau data classement %>

 <% if (@eventId).blank? %>
 <% else %>
  <% eventNum = Event.find(@eventId).numero %>
    
      <table style="margin-left:auto;margin-right:auto">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Pilote</th>
            <th>Points</th>
          </tr>
        </thead>

          <tbody>
            <tr>
              <% @resultatsFiltres.each_with_index do | res, i| %>
                <td class="cols_pos_score" >
                    <strong>  
                      <%= (i+1) %>
                    </strong> 
                </td>
               <td>
                <div class="contenant">
                    <% equipeId = Pilote.find(res[0]).ecurie %>  
                    <% nomPilote = Pilote.find(res[0]).nom %> 
                    <%= image_tag Equipe.find(equipeId).logo, style: "width: 400px; display: block", class: "img-fluid rounded" %>
                      <div class="texte_centrer">
                        <%= nomPilote %> 
                      </div>
                  </div>
                </td>
                <td class="cols_pos_score">
                  <strong>
                    <%= number_with_precision(res[1], precision: 0) %>
                  </strong>
                </td>
            </tr>
      <% end %>
    </tbody>
    
  </table>

  <br/>

<%# bas de page depuis partial %>
<%= render "shared/baspdf" %>


   PDF generation date:
<%= Time.zone.now %>


<% end %>
