<%= form_with(model: pariquart) do |form| %>
  <% if pariquart.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pariquart.errors.count, "error") %> prohibited this pariquart from being saved:</h2>

      <ul>
        <% pariquart.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :typepari, style: "display: block" %>
    <%= form.number_field :typepari %>
  </div>

  <div>
    <%= form.label :parieur_id, style: "display: block" %>
    <%= form.text_field :parieur_id %>
  </div>

  <div>
    <%= form.label :coureur_id, style: "display: block" %>
    <%= form.text_field :coureur_id %>
  </div>

  <div>
    <%= form.label :event_id, style: "display: block" %>
    <%= form.text_field :event_id %>
  </div>

  <div>
    <%= form.label :solde, style: "display: block" %>
    <%= form.text_field :solde %>
  </div>

  <div>
    <%= form.label :cote, style: "display: block" %>
    <%= form.text_field :cote %>
  </div>

  <div>
    <%= form.label :resultat, style: "display: block" %>
    <%= form.check_box :resultat %>
  </div>

  <div>
    <%= form.label :montant, style: "display: block" %>
    <%= form.number_field :montant %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
