<div id="<%= dom_id pariquart %>">


  <p>
    <strong>Typepari:</strong>
    <%= pariquart.typepari %>
  </p>

  <p>
    <strong>Parieur:</strong>
    <%= pariquart.parieur_id %>
  </p>

  <p>
    <strong>Coureur:</strong>
    <%= pariquart.coureur_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= pariquart.event_id %>
  </p>

  <p>
    <strong>Solde:</strong>
    <%= pariquart.solde %>
  </p>

  <p>
    <strong>Cote:</strong>
    <%= pariquart.cote %>
  </p>

  <p>
    <strong>Resultat:</strong>
    <%= pariquart.resultat %>
  </p>

  <p>
    <strong>Montant:</strong>
    <%= pariquart.montant %>
  </p>

</div>
