
<% if user_signed_in? %>

  <br/>
  <h1 class="fa-solid fa-person-military-pointing fa-2xl fw-bold fs-1"> - Licences </h1>   
  <br/> <hr/> 

 <%# btn choix saison %>
      Choix saison |
        <% @saisons.each do |saison| %>
              <%= link_to "#{saison.nom}", 
              licences_path(saisonId: saison.id), class:"btn btn-secondary", :method => :post %> 
        <% end %>

          <% if (@saisonId).present? %>
            <% @saisonId %>
            <hr/> 

            <%# btn choix division %>
            Choix division |
            <% @divisions.each do |division| %>
              <%= link_to "#{division.nom}", 
                  licences_path(saisonId: @saisonId, divisionId: division.id), 
                  class:"btn btn-dark", :method => :post %> 
            <% end %>

              <% if (@divisionId).present? %>
                <% @divisionId %>
                <hr/> 

             <%# btn choix event %>
                Choix event |
                <% @eventsFiltres.order(:numero).each do |event| %>
                  <% if @saisonId = event.saison_id %>
                    <% if @divisionId = event.division_id %>
                      <% divGp = Division.find(event.division_id).numero %>
                      <% saisonEvent = Saison.find(event.saison_id).nom %>
                      <% numGp = Event.find(event.id).numero %>
                      <% nomPays = Circuit.find(event.circuit_id).pays %>
                      <%= link_to "GP #{event.numero}"" - #{nomPays}", 
                          licences_path(saisonId: @saisonId, divisionId: @divisionId, eventId: event.id, numGp: numGp), 
                          class:"btn btn-primary", :method => :post %> 

                        <%#= link_to "Créer licences",  licences_downgrade1_path(eventId: 3), class:"btn btn-secondary", :onclick => "return confirm('Créer les licences des titulaires ?')" %> 

                    <% end %>
                    
                  <% end %>
                <% end %>

              <% end %>
          <% end %>
      <hr/> 

  <% if (@eventId).present? %>

    <% eventId = @eventId %>
    <% divisionId = Event.find(eventId).division_id %>
    <% divisionNom = Division.find(divisionId).nom %>
    <% numGp = Event.find(eventId).numero %>
    <% circuitId = Event.find(eventId).circuit_id %>
    <% circuitPays = Circuit.find(circuitId).pays %>
    <%= link_to "Créer licences", toggle_creerlicences_licence_path(eventId), class:"btn btn-warning", :onclick => "return confirm('Sûr ?')" %>
    <%= link_to "Supprimer licences", toggle_supprimerlicences_licence_path(eventId), class:"btn btn-danger", :onclick => "return confirm('Sûr ?')" %>
   
   <br>
  <%# tab datas %>
  <h5> 
    Event courant : <%= eventId %> | n° <%= numGp %> | <%= circuitPays %>  | <%= divisionNom %>
  </h5> 

  <hr>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>id licence</th>
        <th>Titulaires</th>
        <th>Event</th>
        <th>perdus courant</th>
        <th>recupérés courant</th>
        <th colspan="4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @licencesEvent.each do | licence| %>
          <td> <%= licence.id %> </td>
          <td> <%= Pilote.find(licence.pilote_id).nom  %> </td>
          <td> <%= licence.event_id %> </td>
          <td> <%= licence.penalite %> </td>
          <td> <%= licence.recupere %> </td> 
          <td>
            <%= link_to "Calcul indiv", toggle_calculrecuplicencesIndiv_licence_path(licence.id), class:"btn btn-warning" %>
          </td>
          <td>
            <%= link_to '', licence, class:"fa-solid fa-eye btn btn-primary" %> 
          </td>
          <td>
            <%= button_to '', licence, class:"fa-solid fa-trash-can btn btn-danger", method: :delete, :onclick => "return confirm('Sûr ?')" %>
          </td> 
          <td>
            <%= link_to "", edit_licence_path(licence), class:"fa-regular fa-pen-to-square btn btn-secondary" %> 
          </td> 
      </tr>
    <% end %>
   </tbody>
  </table>

  <%= link_to "Calcul récuparatiion", toggle_calculrecuplicences_licence_path(eventId), class:"btn btn-warning" %>

  <br><hr>


   <%# table des situation licences pilotes titulaires %>
   <h5> Synthese des licences </h5> 

    <table class="table table-striped table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th>Titulaires</th>
          <th>Val départ</th>
          <th>Pts perdus</th>
          <th>Pts gagnés</th>
          <th>Solde</th>
          <th>Action</th>
        </tr>
      </thead>

        <tbody>
        <tr>
          <% @licencesFiltres.each_with_index do | licence, i| %>
          
            <td>
              <% if licence.pilote_id.present? %>
                <%= Pilote.find(licence.pilote_id).nom  %>
              <% end %>  
            </td>
              
            <td style="text-align: center;">
              <%= @licencesValDepart %>
             </td>
            <td style="text-align: center;">
                <%= licence.total_penalite %>
            </td>
            <td style="text-align: center;">
                <%= licence.total_recupere %>
            </td>
             <td style="text-align: center;">
              <strong>
                <%= @licencesValDepart.to_i - licence.total_penalite.to_i + licence.total_recupere.to_i %>
              </strong>
            </td>
            <td>
              <%= link_to '', licence.id, class:"fa-solid fa-eye btn btn-primary" %> 
            </td>
             
        </tr>
        <% end %>
      </tbody>
    </table>




    <% if current_user.admin? %>
    <%#= link_to "Nouvelle licence", new_licence_path, class:"btn btn-primary" %>
    <% end %>

  
    <br>

<% end %>

<% else %>

  <h3> Vous n'avez pas les droits...</h3>
  
<% end %>

